# --- ROS 2 Derleme Dosyaları ---
build/
install/
log/
.colcon/

# --- Python Gereksizleri ---
__pycache__/
*.pyc

# --- Editör/IDE Dosyaları ---
.vscode/
.idea/
*.swp

# --- ArduPilot Logları ---
*.tlog
*.rlog
*.bin
